@import (reference) '../_style/index.less';
@import (reference) '../_style/public.less';

.TagList { .am-con;
	&__tag { display:block; height:1.5em; line-height:1.5em; margin-right:.25rem; margin-top:.25rem; padding:0 4px; border:1px solid @globalColorBorder; float:left; font-size:@am-xs; opacity:.75;}
}
