@import (reference) '../_style/index.less';
@import (reference) '../_style/public.less';

.TagList { .am-con;
	&__tag { display:block; margin-right:.25rem; margin-top:.25rem; padding:2px 4px; border:1px solid @globalColorBlack1; float:left; font-size:@am-xs; color:@globalColorBlack1; opacity:.75;}
}
