.page-appdownload{ background-color: #fff; }
.page-appdownload~footer{ margin-top: 0; }

.page-appdownload [class*="con"]{ position: relative; overflow: hidden;  -webkit-transition: all .3s ease-out; transition: all .5s ease-out; opacity: 0;}
.page-appdownload .tips{ position: absolute; left: 50%; -webkit-transition: all .3s ease-out; transition: all .5s ease-out; opacity: 0;}

.page-appdownload .am-on,
.page-appdownload .am-on .tips{ -webkit-transform: translate(0,0) !important; transform: translate(0,0) !important; opacity: 1 !important;}


.page-appdownload .con1{ height: 660px; background: url(con1bg.png) center top no-repeat; }
.page-appdownload .con1 .tips1{ bottom: 20px; margin-left:70px; z-index: 1; -webkit-transform: translate(100%,0); -webkit-transition-delay: .5s; transform: translate(100%,0); transition-delay: .5s;}
.page-appdownload .con1 .tips2{ bottom: 50px; margin-left:255px; -webkit-transform: translate(-100%,0); -webkit-transition-delay: .8s; transform: translate(-100%,0); transition-delay: .8s;}
.page-appdownload .con1 .tips3{ bottom: 100px; margin-left:-400px; -webkit-transform: translate(50%,0); transform: translate(50%,0);}
.page-appdownload .con1 .tips4{ bottom: 100px; margin-left:-230px; -webkit-transform: translate(-50%,0); transform: translate(-50%,0);}
.page-appdownload .con1 .tips5{ top:150px; margin-left:-395px; -webkit-transform: translate(0,-50%); transform: translate(0,-50%); }

.page-appdownload .con2{ height:500px; background: url(con2p3.png) center bottom no-repeat; opacity:0; }
.page-appdownload .con2 .tips1{ bottom:2px; margin-left:-480px; -webkit-transform: translate(50%,0); transform: translate(50%,0);}
.page-appdownload .con2 .tips2{ top:170px; margin-left:-80px; -webkit-transform: translate(-50%,0); transform: translate(-50%,0);}

.page-appdownload .con3{ height:510px; background: url(con3p4.png) center bottom no-repeat;}
.page-appdownload .con3 .tips1{ bottom:2px; margin-left:0;  -webkit-transform: translate(-50%,0); transform: translate(-50%,0);}
.page-appdownload .con3 .tips2{ bottom:2px; margin-left:170px; -webkit-transform: translate(50%,0); -webkit-transition-delay: .5s; transform: translate(50%,0); transition-delay: .5s;}
.page-appdownload .con3 .tips3{ top:190px; margin-left:-470px; -webkit-transform: translate(-50%,0); -webkit-transition-delay: .5s; transform: translate(-50%,0); transition-delay: .5s;}

.page-appdownload .con4{ height:510px; }
.page-appdownload .con4 .tips1{ bottom:0; margin-left:-480px; -webkit-transform: translate(50%,0); transform: translate(50%,0);}
.page-appdownload .con4 .tips2{ top:190px; margin-left:0; -webkit-transform: translate(-50%,0); transform: translate(-50%,0);}




.page-appdownload .tipsArrow{ width:100px; height:50px; background: url(iconArrow.png) center center no-repeat; margin-left:-50px; bottom:50px; position: fixed; z-index:10; opacity: 1; -webkit-animation:arrow 2s linear infinite; animation:arrow 2s linear infinite;}

@-webkit-keyframes arrow { 
0% { -webkit-transform:translate(0,0); opacity:0.3;}
24.9% { -webkit-transform:translate(0,20px); opacity:1;}
25% { -webkit-transform:translate(0,0); opacity:0.3;}
50% { -webkit-transform:translate(0,20px); opacity:1;}
100% { -webkit-transform:translate(0,20px); opacity:1;}
}
@keyframes arrow { 
0% { transform:translate(0,0); opacity:0.3;}
24.9% { transform:translate(0,20px); opacity:1;}
25% { transform:translate(0,0); opacity:0.3;}
50% { transform:translate(0,20px); opacity:1;}
100% { transform:translate(0,20px); opacity:1;}
}

.ie8 .page-appdownload [class*="con"],
.ie9 .page-appdownload [class*="con"],
.ie8 .page-appdownload .tips,
.ie9 .page-appdownload .tips{ -webkit-transform: translate(0,0) !important; transform: translate(0,0) !important; opacity: 1 !important;}

.ie8 .page-appdownload .tipsArrow,
.ie9 .page-appdownload .tipsArrow{ display: none; }


