@import (reference) '../_style/index.less';
@import (reference) '../_style/public.less';


.Icon { display:inline-block; line-height: 0; position: relative;
  &__animate_shake { .animation(animateShake 1s linear infinite);}
  &__animate_rotate { .animation(animateRotate 1s linear infinite);}
  &__color_grey {
    svg { fill:@globalColorBlack2;}
  }
  &__color_blue {
    svg { fill:@globalColorBlue;}
  }
  &__color_white {
    svg { fill:@globalColorWhite0;}
  }
  &__size_normal { width: 1.375rem; height: 1.375rem;}
  &__size_small { width: 1.03rem; height: 1.03rem;}
  &__size_mini { width: 0.68rem; height: 0.68rem;}
  &__size_auto { width: 100%; height: 100%;}
  svg { display: inline-block; .am-pos-cc;}
}

@keyframes animateShake {
0% { .transform(translate(0,0));}
10% { .transform(translate(0,-5%));}
20% { .transform(translate(4%,3.5%));}
30% { .transform(translate(-4%,-1.5%));}
40% { .transform(translate(5%,-1.5%));}
50% { .transform(translate(-1.5%,5%));}
60% { .transform(translate(0,0));}
100% { .transform(translate(0,0));}
}
@keyframes animateRotate {
0% { .transform(rotate(0deg));}
100% { .transform(rotate(359deg));}
}
