.rc-notification-fade-enter {
  animation: moveLeft .3s;
}
.rc-notification-fade-leave {
  animation: moveOutLeft .3s;
}
.rc-notification-fade-enter.rc-notification-fade-enter-active {
  animation: moveLeft .3s;
}
.rc-notification-fade-leave.rc-notification-fade-leave-active {
  animation-name: moveOutLeft .3s;
}

@keyframes moveOutLeft {
  0% {
      
  }
  100% {
      right: -200%;
  }
}
@keyframes moveLeft {
  0% {
      right: -200%;
  }
  100% {
      right: 0;
  }
}

.jqb-notify {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 1px;
  .iconfont {
    font-size: 22px;

    &.icon-success {
        color: green;
    }
    &.icon-error {
        color: #d82e2e;
    }
    &.icon-warning {
        color: orange;
    }
    &.icon-info {
        color: #2773ef;
    }
  }
}

.jqb-notify__text {
  margin-left: 8px;
  font-size: 16px;
}