@import (reference) '../_style/index.less';
@import (reference) '../_style/public.less';

.NoticeBar { .am-con; height:@noticeHeight; line-height:@noticeHeight * 0.95; padding:0 @noticeHeight 0 @globalGap; background-color:#fff4cd; border-bottom:1px solid @globalColorBorder; position:relative;
	.Icon { width:@noticeHeight; height:@noticeHeight; .am-pos-rc;}
	&__link { display:block; width:100%; height:100%; overflow:hidden; font-size:@am-sm; color:@globalColorOrange; position:relative;
		&-text { .am-pos-lt; .am-nobreak;}
	}
	&__state_play &-text { .animation(noticeBarPlay 15s linear infinite);}
}
