

.jqb-input {
    position: relative;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.432;
    background-color: #fff;
    border: 1px solid #D0D2DA;
    color: #484852;
    border-radius: 2px;
    box-sizing: border-box;
    transition: border-color .2s;
    outline: none;
    padding: 8px 10px;
}

.jqb-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
