

.jqb-input {
    position: relative;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.432;
    background-color: #fff;
    border: 1px solid #D0D2DA;
    color: #484852;
    border-radius: 2px;
    box-sizing: border-box;
    transition: border-color .2s;
    outline: none;
    padding: 8px 10px;
  }
  
  .jqb-input__group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }
  
  .jqb-input__close {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    top: 50%;
    margin-top: -6px;
    right: 10px;
    height: 12px;
    line-height: 12px;
    cursor: text;
    color: rgba(145, 143, 151, 1);
  
    &.show {
        cursor: pointer;
        opacity: 1;
    }
  }